<!DOCTYPE html>
<html lang="en">

<!-- include head -->
{% include 'include/head.html' %}

  <body id="page-top">

    <!-- include nav -->
    {% include 'include/nav.html' %}  

    <div id="wrapper">

    <!-- include sidebar -->
    {% include 'include/sidebar.html' %}  

      <div id="content-wrapper">
        {% if session['logged_in'] %}
        <div class="container-fluid">
          {% for item in list_of_names %}
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>Item {{list_of_names[item]}}</div>
            <div class="card-body">
              <canvas id="{{item}}" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
          {% else %}
          <h1> No items currently listed </h1>
          {% endfor %}
          {% if session['logged_in'] %}
          <!-- form with entry for adding/removing item to account -->
          {% endif %}
        {% endif %}
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Maintained by <a href="http://edmundmurphy.co.uk">Ed</a></span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

 
    <!-- include logout modal -->
    {% include 'include/modal/logout.html' %}  

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('.static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{url_for('.static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{url_for('.static', filename='vendor/chart.js/Chart.min.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{url_for('.static', filename='vendor/datatables/dataTables.bootstrap4.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('.static', filename='js/sb-admin.min.js')}}"></script>

    <!-- Chart scripts for this page-->
    <!--<script src="{{url_for('.static', filename='js/demo/datatables-demo.js')}}"></script>-->
    <script src="{{url_for('.static', filename='js/acc-chart-stats.js')}}"></script>
    <script type="text/javascript">
      init({{list_of_items}})
    </script>
  </body>

</html>
